{% load staticfiles %}
{% load markdown_deux_tags %}
<html>
    <head>
    <script src="{% static 'js/jquery.min.js' %}"></script>
        <title>GFG blog</title>
        <link rel="stylesheet" href="{% static 'css/syntaxcolor-default.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

        <!--link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!-- For Comment-->
        <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
        
        <!-- Endof For Comment-->
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    </head>
    <body>
    

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                
                </div>
            </div>
        </div> 

{% block content %}
                {% endblock %}


    </body>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
</html>