{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
		    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}	
        <p>{{ post.text|linebreaks }}</p>
    </div>

    <div class="comments">
    <h3><b>Comments</b></h3>
        {% load comments %}
        {% render_comment_form for post %}
        {% render_comment_list for post %}    
    </div>

{% endblock %}
